@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

/* Apply to everything, including pseudo-elements */
*, *::before, *::after {
  box-sizing: border-box;
}

.icon {
  cursor: pointer;
  color: black;
}