
.authpage {
    height: 100vh;
    background-color: #EFFBEF;
    /* width: 500px; */
    width: 100vw;
    max-width: 500px;
    /* border: 1px solid blue; */
    margin: auto;
}

.authpage--headers {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding-top: 20vh;
    gap: 1rem;
    /* border: 1px solid black; */
}

.authpage--headers-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authpage--headers p {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
    margin-bottom: .75rem;
}

.authpage--active {
    width: 100%;
    height: 5px;
    background-color: #838383;
    border: 1px solid black;
    border-radius:5px;
}