
.createcard {
    width: 100%;
    max-width: 750px;
    /* border: 2px solid blue; */
}

.createcard--dictionary-text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2vh;
    align-self: flex-start;
}

.createcard--flashcard-container {
    display: flex;
    flex-direction: column;
}

.createcard--flashcard {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 5vh;
} 

.createcard--input-wrapper {
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 1rem;
    font-weight: 500;
    padding-block: 1rem;
    padding-inline: .25em;
}

.createcard--input-wrapper input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
}

.createcard--result-wrapper,
.createcard--column-headers {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start; /* centers inline content in each column */
    align-items: center;   /* optional, vertical centering */
    border-bottom: 1px solid #8B8B8B;
    padding-block: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding-inline: .25em;
}

.createcard--result-wrapper {
    background-color: #FBFBFB;
    cursor: pointer;
}

.createcard--column-headers {
    border-top: 1px solid black;
    font-weight: 600;
}

.createcard--lang {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #F9F9F9;
    padding: .2em .5em;
    cursor: pointer;
}

@media (min-width: 1028px) {

    .createcard--flashcard {
        margin: auto;
        border: 1px solid black;
        border-radius: 12px;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.63);
    }

    .createcard--input-wrapper {
        border: none;
        /* border-bottom: 1px solid black; */
    }
}