
.createcard--input-wrapper {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 1rem;
    font-weight: 500;
    padding-block: 1rem;
    padding-inline: .25em;
}

.createcard--input-wrapper input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
}

.createcard--result-wrapper,
.createcard--column-headers {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start; /* centers inline content in each column */
    align-items: center;   /* optional, vertical centering */
    border-bottom: 1px solid #8B8B8B;
    padding-block: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding-inline: .25em;
}

.createcard--result-wrapper {
    background-color: #FBFBFB;
}

.createcard--column-headers {
    font-weight: 600;
}

.createcard--lang {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #F9F9F9;
    padding: .2em .5em;
    cursor: pointer;
}