
.formWrapper {
    display: flex;
    width: 100%;
    /* border: 1px solid purple; */
    justify-content: center;

}

.createdeckform {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    min-width: 360px;
    width: 600px;
    gap: 2rem;
}

