.dashboard-layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
  /* border: 1px solid red; */
}

.decksidebar--wrapper {
  display: none;
}

.main {
  grid-area: main;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 758px) {
  .dashboard-layout {
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar main";
  }

  .decksidebar--wrapper {
    display: block;
    grid-area: sidebar;
    height: 100%;
  }

}
