
.main {
    border: 2px solid purple;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    min-height: 600px;
}

.main--header {
    font-size: 2rem;
    font-weight: 600;
}

.main--subheader {
    font-size: 1.75rem;
    font-weight: 600;
}